/*  applied opensans font-style to all the elements  */
.body-style {
    font-family: 'Open Sans', sans-serif;
}

/*  Header design starts here  */
.header-title {
    display: flex;
    background-color: #ECD2D8;
}

.header-element {
    border-radius: 20px;
    margin: 250px 300px 0px 300px;
}

.header-element>h1 {
    font-weight: bold;
    font-size: xx-large;
}

.header-image{
    margin-right: 200px;
}

.all-button{
    padding: 10px;
    border-radius: 4px;
    color: beige;
    background-color: #E55473;
}

/*  Main section design starts here  */
.image-title{
    display: flex;
    margin-left: 100px;

}

.image-link-a>img{
    background-color: lightpink;
    border-radius: 450px 450px 0px 0px;
    padding: 5px 1px 0px 1px;
}

.image-link-b>img{
    background-color: lightblue;
    border-radius: 450px 450px 0px 0px;
    padding: 5px 1px 0px 1px;
}

.image-link-c>img{
    background-color: aquamarine;
    border-radius: 450px 450px 0px 0px;
    padding: 5px 1px 0px 1px;
    
}

img{
    margin: 0px 100px 0px 75px;
    width: 400px;
    height: 400px;
}

.links{
    display: flex;
}

main{
   text-align: center;
}

/*  extra section  */
.all-extra-div{
    display: flex;
    background-color: rgb(182, 182, 182);
    margin: 0px 100px 0px 75px;

}

.extra-div>img{
    padding: 35px 1px 0px 1px;
    width: 88px;
    height: 88px;
    margin: 0px 500px 0px 115px;
    text-align: center;
}

.figcaption{
    padding: 5px 10px 0px 0px;
    font-size: small;
    margin: 0px 360px 0px 0px;
}

/*  Hot Deal ! Sale Up To 25%  */
.para-img{
    display: flex;
    background-color: #e7e0df;
    margin-top: 30px;
}

.hot-deal-sale-up-to{
    padding: 5px 10px 0px 0px;
    margin: 0px 360px 0px 115px;
}

.rose-img{
    margin: 0px 350px 0px 95px;
    width: 400px;
    height: 400px;
}