/*  applied opensans font-style to all the elements  */
.body-style {
    font-family: 'Open Sans', sans-serif;
}

p{
    color:#a5999c;
}

/*  Header design starts here  */
.header-title {
    display: flex;
    background-color: #ECD2D8;
}

.header-element {
    border-radius: 20px;
    margin: 30px 300px 0px 300px;
}

.header-element>h1 {
    font-weight: bold;
    font-size: xx-large;
}

.header-image{
    display: flex;
    align-items: flex-end;
    margin-bottom: 1px;
}

.all-button{
    padding: 10px;
    border-radius: 4px;
    color: beige;
    background-color: #E55473;
}

/*  Main section design starts here  */
.image-title{
    display: flex;
    margin-left: 390px;
    margin-bottom: 10px;

}

.image-link-a>img{
    background-color: lightpink;
    border-radius: 450px 450px 0px 0px;
    padding: 5px 50px 0px 15px;
}

.image-link-b>img{
    background-color: lightblue;
    border-radius: 450px 450px 0px 0px;
    padding: 5px 50px 0px 15px;
}

.image-link-c>img{
    background-color: aquamarine;
    border-radius: 450px 450px 0px 0px;
    padding: 5px 50px 0px 15px;
    
}

img{
    margin: 0px 0px 0px 10px;
    width: 300px;
    height: 300px;
}

.links{
    display: flex;
}

main{
   text-align: center;
}

/*  extra section  */
.all-extra-div{
    display: flex;
    background-color: rgb(219, 214, 214);
    margin: 0px 370px 0px 400px;


}

.extra-div>img{
    padding: 35px 1px 0px 1px;
    width: 88px;
    height: 88px;
    margin: 0px 100px 0px 150px;

}

.figcaption{
    padding: 5px 0px 0px 0px;
    font-size: small;
    margin: 0px 5px 0px 30px;
}

/*  Hot Deal ! Sale Up To 25%  */
.para-img{
    display: flex;
    background-color: #e7e0df;
    margin-top: 30px;
}

.hot-deal-sale-up-to{
    padding: 130px 10px 0px 0px;
    margin: 0px 360px 0px 115px;
}

.rose-img{
    margin: 70px 350px 0px 95px;
    width: 400px;
    height: 400px;
}
/* instagram */

.insta-para{
    text-align: center;
}

.insta-img{
    display:flex;
    margin-left: 380px;
    margin-right: 380px;
}

/* Review Section */
.bonus{
    margin-top: 30px;
    text-align: center;
    padding-left: 10px;
    font-style: italic;
}

/*Get the Latest Deal*/
.get-head{
    background-color: #E55473;
}